/* Shopping Cart Styles */

/* Cart Table */
.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    background-color: #2a61d8;
    color: white;
    padding: 10px;
    text-align: left;
    padding: 5px 10px;
}

.cart td {
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #c9bdbd;
}

.cart td img {
    width: 80px;
    height: 80px;
    object-fit: fill;
    margin-right: 10px;
}

.cart td input {
    width: 60px;
    height: 40px; 
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
}

.cart .product-info p {
    margin: 3px;
}

/* Cart Total */
.cart-total {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2a61d8;
    justify-content: flex-end;
}

.cart-total table {
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #2a61d8;
}

/* Cart Action Buttons */
.cart .edit-btn {
    color: rgb(44, 7, 255);
    background-color: transparent; 
    text-decoration: underline;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
}

.cart .remove-btn {
    color: rgb(44, 7, 255);
    background-color: white;
    width: 100%;
    font-size: 16px;
    text-align: start;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Table Alignment */
td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* Checkout Section */
.checkout-container {
    display: flex;
    justify-content: flex-end;
}