/* Homepage Specific Styles */

/* Hero Section */
/* Hero Section (Carousel Container) */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Make the carousel fill its parent (#home) */
#heroCarousel {
    width: 100%;
    height: 100%;
}

/* Style for the background image inside each carousel item */
.carousel-bg-image {
    object-fit: cover;
    height: 100vh;
    filter: brightness(60%);
}

/* Style for the caption content */
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    color: white;
    text-align: center;
}

/* Adjust text styling if needed, specific to the carousel caption */
.carousel-caption h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.carousel-caption p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

/* Will add other specific styles for button */
.carousel-caption .btn {

}

/* Banner Section */
#banner {
    background-image: url('/assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: start;
}

/* New Products Section */
#new .one { 
    position: relative;
    padding: 0;
    overflow: hidden;
    border: 2px solid white;
}

#new .one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#new .one {
    position: relative;
}

#new .one .details {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    transition: 0.5s ease;
    background-color: rgba(1, 1, 1, 0.6);
    width: 100%;
    height: 100%;
}

#new .one .details:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.product img{
    width: 100%; 
    height: 350px; /* Fixed height for images */
    object-fit: contain; /* Ensures entire image is visible */
    object-position: center; /* Centers the image */
}

.product:hover img {
    transform: scale(1.06);       /* Zoom in slightly */
    transition: transform 0.5s ease; /* Smooth transition */
    opacity: 0.8;                 /* Fade a bit to show hover */
}



